venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
switchmap.env
*.sqlite3
db.sqlite3
backups/
logs/
reports/
deploy/
staticfiles/
*.log
*.bak*
*.zip
.DS_Store
Thumbs.db
logs_acl_backup.txt
*.cdb
*.key
*.pem
*.crt
*.pfx
*.p12
